.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

}
th {
  text-align: left;
}

header{
  background-color: grey;
}

header h1 {
  display: inline;
}

.header_buttons {
  display: inline;
}

header a{
  display: inline;
}

.arrows {
  display: inline;
}