<div class="container">
<form name="new_post" id="new_post" method='post' action='/post/new'>
  <input type='text' name='title' placeholder="title">
  <textarea name="url" placeholder="place content here">
    
  </textarea>
  <input type="submit" value="Submit!">
</form>


</div>
